<%- include("header") -%>

<h2>This is an About Page</h2>
<p>We have made a ToDo List by using EJS Templates and Layouts.</p>
<p>They are used to make a dynamic web pages or web applications.</p>
    <ul>
        <h4>Benefits of Using EJS are as follows:</h4>
        <li>Reusability of code.</li>
        <li>Easy implementation.</li>
        <li>Easy to debug.</li>
        <li>Efficient for small as well as large scale web based projects.</li>
    </ul>


<%- include("footer") -%>